#sugestoes{
    margin-left: 10%;
    width: 300px;
    height: 600px;
}

#atendimento{
    margin-left: 15%;
    width: 600px;
    height: 600px;
    
}

#duvida{
    margin-left: 50%;
    width: 300px;
    height: 600px;
}