main section {
    background: linear-gradient(to bottom, #ffffff, #e6f0fa);
    padding: 30px;
    margin: 5px;
    border-radius: 8px;
    color: #23232e;
    line-height: 1.6;
}


#etec,
#cps {
    display: block;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
     width: 600px;
    height: 300px;
    
}


main h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 15px;
}


main p {
    text-align: justify;
    margin-bottom: 20px;
}


