#desordenada-bloco{
    position: absolute;
     top: 25%;
    left: 30%;
    background-color: lightblue;
    width: 600px;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
}

#aluno-bom{
    font-family: Arial;
    color: rgb(0, 0, 0);
    margin-left: 3%;
}

#aluno-mb{
    width: 500px;
    height: 250px;
    border-radius: 5%;
    margin-left: 7%
}

