header{
    background-color: yellow;
}

#formulario{
    width: 30%; 
    top: 10%;
    max-width: 600%;
    background: linear-gradient(to bottom, #ffffff, #fffa9a); 
    margin: 5px;
    padding: 20px;
    color: #23232e;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
}

#status{
    display: flex;
    flex-direction: column;
}

.form-manu label {
    margin-top: 10px;
    font-weight: bold;
}

.form-manu input,
.form-manu textarea {

    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button  {
    max-width: 20%;
    margin-top: 15px;
    padding: 4px;
    background-color: #5c5959;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #b1b107;
}